<?xml version="1.0"?>
<config>
    <sections>
        <kl_slideshow translate="label" module="slideshow">
            <label>Slideshow</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>9999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <kl_slideshow_settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sizes translate="label">
                            <label>Sizes</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Separate each option with a ","</comment>
                        </sizes>
                        <styles translate="label">
                            <label>Styles</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Separate each option with a ","</comment>
                        </styles>
                        <templates translate="label">
                            <label>Templates</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Separate each option with a ","</comment>
                        </templates>
                    </fields>
                </kl_slideshow_settings>
            </groups>
        </kl_slideshow>
    </sections>
</config>
